name: integration tests
on:
  workflow_dispatch:
  schedule:
    - cron: "00 07 * * *"
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: install go
        uses: actions/setup-go@v2
        with:
          go-version: 1.23.0
      - uses: actions/checkout@v2

      - name: run tests
        env:
          TEST_USER: ${{ secrets.SUNSYNK_USERNAME }}
          TEST_BEARER_TOKEN: ${{ secrets.SUNSYNK_BEARER_TOKEN }}
          TEST_INVERTER_SN: ${{ secrets.SUNSYNK_INVERTER_SN }}
        run: go test -v -count=1 -tags integration  ./integration
